{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<h1>Mensajes recibidos</h1>

{% if mensajes %}
    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Mensaje</th>
        </tr>

        {% for m in mensajes %}
        <tr>
            <td>{{ m[0] }}</td>
            <td>{{ m[1] }}</td>
            <td>{{ m[2] }}</td>
            <td>{{ m[3] }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No hay mensajes todavía.</p>
{% endif %}
{% endblock %}
